<div class="container text-center">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Wecome to Chirp!</h1>
        <img src="img/chirp.png">
        <hr>
        <form>
            <div class="form-group">
                <label for="handle" class="sr-only">Handle</label>
                <input type="text" class="form-control" id="handle" placeholder="Handle">
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button class="btn btn-primary text-uppercase" id="login">Login</button>
            <a href="/register" class="btn btn-primary text-uppercase">Register</a>
        </form>
    </div>
</div>