<div class="container text-center">
    <div class="col-sm-6 col-sm-offset-3">
        <h1>Wecome to Chirp!</h1>
        <img src="img/chirp.png">
        <hr>
        <form>
            <div class="form-group">
                <label for="first-name" class="sr-only">First Name</label>
                <input type="text" class="form-control" id="first-name" placeholder="First Name">
            </div>
            <div class="form-group">
                <label for="last-name" class="sr-only">Last Name</label>
                <input type="text" class="form-control" id="last-name" placeholder="Last Name">
            </div>
            <div class="form-group">
                <label for="email" class="sr-only">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="handle" class="sr-only">Handle</label>
                <input type="text" class="form-control" id="handle" placeholder="Handle">
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <button class="btn btn-primary text-uppercase" id="register">Register</button>
        </form>
    </div>
</div>